<div class="container mt-4">
  <div class="row">
    <h3>Listado de Estudiantess</h3>
  </div>
  <br>
  <table class="table table-hover" *ngIf="listEstudiantes.length > 0">
    <thead>
      <tr>
        <th>Nro</th>
        <th>Nombre</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let estudiante of listEstudiantes; let i=index">
        <td>{{ i }}</td>
        <td>{{ estudiante.nombre}}</td>
        <td>
          <span [ngClass]="estudiante.estado === 'Promocionado' ? 'badge bg-success' : 'badge bg-secondary'">{{ estudiante.estado }}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <h3 *ngIf="listEstudiantes.length ===0">No hay registros para mostrar</h3>
</div>
